body {
  /*--main-color: #cda9ab;
  --bg-color: #f3e8e6;*/
  --main-color: #adc0cf;
  --bg-color: #f7f7f7;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
}

.store {
  width: 70%;
}

h1 {
  text-align: center;
}

.postList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  background-color: white;
  margin: 0px 7px 15px 7px;
  padding: 10px;
  border-radius: 5px;
  width: 28%;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.sidebyside {
  display: flex;
  flex-direction: row;
}

.quantity {
  padding-top: 5px;
}

h5 {
  margin: 8px;
} 
h4 {
  margin: 2px;
}
h3 {
  font-weight: 700;
}
h2 {
  text-align: center;
}

.cart {
  width: 25%;
  background-color: var(--main-color);
  padding: 10px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.item {
  background-color: white;
  margin: 0px 7px 15px 7px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.description {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.button {
  background-color: var(--main-color);
}

.total {
  background-color: white;
  margin: 0px 7px 15px 7px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  justify-content: center;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dropdown {
  width: 150px;
}

.photo {
  width: 100%;
  border-radius: 3px;
}

.postText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 20px 0px 20px;
}

.description {
  visibility: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.post:hover .description {
  visibility: 1;
  opacity: 1;
}

.post:hover .postText {
  background-color: rgba(256, 256, 256, 0.7);
}

.post:hover .price {
  color: black
}

.price {
  color: rgba(256, 256, 256, 0.8);
}

.description {
  color: black;
}

.cartItemDescription {
  color: #3f4041;
}

.cartPrice {
  color: var(--main-color);
  line-height: 0;
}

.cartPhoto {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.cartTitle {
  margin: 0px 0px 20px 0px;
  line-height: 15px;
  max-width:90%;
  word-wrap: break-word;
}

.cartDesc {
  margin-right: '10px';
  max-width: 90%;
  word-wrap: break-word;
}

.totalText {
  font-weight: 400;
  font-size: large;
  line-height: 5px;
}

.checkoutDiv {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1245px) { 
  .postTitle {
    line-height: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1145px) {
  .descText {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
  }
  .subjText, .formText {
    font-size: small;
    line-height: 10px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');